
<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Exam Admin</title>
    <!-- plugins:css -->
    <link rel="stylesheet" href="vendors/simple-line-icons/css/simple-line-icons.css">
    <link rel="stylesheet" href="vendors/flag-icon-css/css/flag-icon.min.css">
    <link rel="stylesheet" href="vendors/css/vendor.bundle.base.css">
    <!-- endinject -->
    <!-- Plugin css for this page -->
    <link rel="stylesheet" href="./vendors/daterangepicker/daterangepicker.css">
    <link rel="stylesheet" href="./vendors/chartist/chartist.min.css">
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <!-- endinject -->
    <!-- Layout styles -->
    <link rel="stylesheet" href="./css/style.css">
    <!-- End layout styles -->
    <link rel="shortcut icon" href="./images/favicon.png" />
  </head>
  <body>
    <% if(typeof admin!= 'undefined' && admin!='') {
      %>
    <div id="admin" hidden><%=admin%></div>
    <%}%>
    <% if(typeof admin!= 'undefined' && admin!='') {
      %>
      <div id="results" hidden><%=exam%></div>
    <%}%>
    <% if(typeof admin!= 'undefined' && admin!='') {
      %>
      <div id="stud" hidden><%=stud%></div>
    <%}%>
     
               

              

    <div class="container-scroller">
      <!-- partial:partials/_navbar.html -->
 
      <%-include("./partials/navbar.ejs") %>
   
      <!-- partial -->
      <div class="container-fluid page-body-wrapper">
        <!-- partial:partials/_sidebar.html -->
       
        <%-include("./partials/AdminSidebar.ejs") %>
       
        <!-- partial -->
        <div class="main-panel">
          <div class="content-wrapper">
         
             <!-- Quick Action Toolbar Starts-->
            <br>
                          <div class="form-group">
                      <div class="input-group">
                        <div class="input-group-prepend">
                          <button class="btn btn-sm btn-outline-primary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Filter By Department</button>
                          <div class="dropdown-menu" id="myDropdown">
                          <input type="text" placeholder="Search.." id="myInput" onkeyup="filterFunction()">
                            <a class="dropdown-item" href="#" ><span  id="course" > Action1</span></a>
                            <a class="dropdown-item" href="#"  ><span id="course"  > Action2</span></a>
                            <a class="dropdown-item" href="#"  ><span id="course"  > Action3</span></a>
                            <div role="separator" class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#"  ><span id="course"  > Action4</span></a>
                          </div>
                        </div>
                        <input type="text" id="setcourse" class="form-control" aria-label="Text input with dropdown button">
                      </div>
                    </div>
                    <br>
                   
                                                  <script>function filterFunction() {
  var input, filter, ul, li, a, i;
  input = document.getElementById("myInput");
  filter = input.value.toUpperCase();
  div = document.getElementById("myDropdown");
  a = div.getElementsByTagName("a");
  for (i = 0; i < a.length; i++) {
    txtValue = a[i].textContent || a[i].innerText;
    if (txtValue.toUpperCase().indexOf(filter) > -1) {
      a[i].style.display = "";
    } else {
      a[i].style.display = "none";
    }
  }
}
const colorSelectors = document.querySelector("#myDropdown");

/* define event listeners */
const loadEventListeners = () => {

    colorSelectors.addEventListener("click", (e) => {
        e.preventDefault();
    
        $("#setcourse").val(e.target.innerText)
            $("#deptcourses").text(`Department of ${e.target.innerText} Courses`)
    });
}

/* Load all event listeners */
loadEventListeners();
</script>
             <div class="col-lg-12 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                    <h4 class="card-title" id="deptcourses">Course Management</h4>
                  
                    </p>
                    <table border="1" class="table ">
                      <thead class="thead-dark">
                          <tr>
                                   <th>Academic Level</th>
                                   <th>Course Code</th>
                                   <th>Course Title</th>
                                   <th>Course Lecturer</th>
                                   <th class="text-right">Credit Unit</th>
                                   <th>Actions</th>
                               </tr>
                           </thead>
                           <tbody>
                               <% if(typeof model!= 'undefined') {
                                   %>
                                   <% for (const cat of model) { %>
                                      <tr> <td>
                                       <div id="uuid" hidden><%= cat.id%></div>
                                         <input id="level" class="form-control" value="  <%= cat.level %>" type="text" name="username" placeholder="Level">  
                            
                                      </td> <td>
                                       
                              
                                       <input id="course_code" class="form-control" value="  <%= cat.course_code %>" type="text" name="username" placeholder="Level">  
                                    
                                    </td> <td>
                                      
                                       <input id="course_title" class="form-control" value=" <%= cat.course_title%>" type="text" name="username" placeholder="Level">  
                                  
                                    </td> <td>
                                       
                                       <input id="lecturer" class="form-control" value="<%= cat.lecturer %>" type="text" name="username" placeholder="Level">  
                                       
                                    </td> <td>
                                       
                                       <input id="unit" class="form-control" value="<%= cat.unit %>" type="text" name="username" placeholder="Level">  
                                          
                                    </td><td><button id="save" type="button"  class="btn btn-inverse-dark btn-icon"><i class="icon-pencil"></i></button>
	
                                      <button type="button" id="delete"class="btn btn-inverse-dark btn-icon">
                                      <i class="icon-trash"></i></td></tr></tr>
                                     <% } %>
                                   
                                   <%}%>
                    
                           </tbody>
                       </table>
                       <div class="d-flex mt-4 flex-wrap"  id="pagination">
                        <p class="text-muted" id="showing"></p>  
                        <nav class="ml-auto" id="cc">
                          <ul class="pagination separated pagination-info" id="pages">
                            <li class="page-item"><a href="#" class="page-link"><i class="icon-arrow-left"></i></a></li>
                            <li class="page-item active"><a href="#" class="page-link">1</a></li>
                            <li class="page-item"><a href="#" class="page-link">2</a></li>
                            <li class="page-item"><a href="#" class="page-link">3</a></li>
                            <li class="page-item"><a href="#" class="page-link">4</a></li>
                            <li class="page-item"><a href="#" class="page-link"><i class="icon-arrow-right"></i></a></li>
                          </ul>
                        </nav>
                      </div>
                       <h3>Add Course</h3><br>
                       <div class="row">
              
                        <div class="col-lg-6"> <select id="levels"class="form-control"> <option>Select Academic Level</option> <option>100</option> <option>200</option>
                        </option> <option>300</option></option> <option>400</option><option>500</option><option>600</option></select></div> 
                         <div class="col-lg-6"> <div class="form-group"><input id="course_codes" class="form-control" type="text" name="username" placeholder="Course Code"></div></div>
                           <div class="col-lg-6"><div class="form-group"><input id="course_titles" class="form-control" type="text" name="username" placeholder="Course Title"></div></div>
                           <div class="col-lg-6"><div class="form-group"><input id="lecturers" class="form-control" type="text" name="username" placeholder="course Lecturer"></div></div>
                           <div class="col-lg-6"><div class="form-group"><input id="units" class="form-control" type="number" name="username" placeholder="Credit Unit"></div></div>
                         </div>
                         <br/>  <button type="button" id="addcat"class="btn btn-inverse-dark btn-icon">Save</button>
               
                   </div>
              
               
               </div>
             
           </div>
           <div id="next" hidden>1</div>
       
           
           
        
        </div>
        <!-- main-panel ends -->
      </div>
      <!-- page-body-wrapper ends -->
    </div>
    <!-- container-scroller -->
    <!-- plugins:js -->
    <script src="vendors/js/vendor.bundle.base.js"></script>
    <!-- endinject -->
    <!-- Plugin js for this page -->
    <script src="./vendors/chart.js/Chart.min.js"></script>
    <script src="./vendors/moment/moment.min.js"></script>
    <script src="./vendors/daterangepicker/daterangepicker.js"></script>
    <script src="./vendors/chartist/chartist.min.js"></script>
    <!-- End plugin js for this page -->
    <!-- inject:js -->
    <script src="js/off-canvas.js"></script>
    <script src="js/misc.js"></script>
    <!-- endinject -->
    <!-- Custom js for this page -->
    <script src="./js/dashboard.js"></script>
    <!-- End custom js for this page -->
    <!-- jquery JS-->
    <script src="vendor/jquery-3.2.1.min.js"></script>
    <script src="/js/main.js"></script>
   
<script>
    $(document).ready(function(){
      if($("#user").text()==''){location.href="/login"}
            
      $.ajax({
          type: "GET",
          url: "/getdept",
        
          success(response) {
            $("#myDropdown").empty();
            $("#myDropdown").append(`<input type="text" placeholder="Search.." id="myInput" onkeyup="filterFunction()">`)
            $.each(response, function (key, value) { 
                           
                                  
                                                $("#myDropdown").append(` 
                           
                            <div role="separator" class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#"  ><span id="course"  >${value["dept"]}</span></a>`);
                            $("#setcourse").val(value["dept"])
                            $("#deptcourses").text(`Department of ${value["dept"]} Courses`)
                                              });
                                              getdata()               
      
                            
          },
      }); 
   
      function getdata(offset=0){
        let dept=$("#setcourse").val().trim()
            $.ajax({
          type: "POST",
          url: "/getcourses",
        data:{dept:dept,offset:offset},
          success(response) {
 
         var i=0;
         var c=1;
            $("tbody").empty();
            $("#pages").empty();
            $("#pages").append(  ` <li class="page-item"  id="navback"><a  class="page-link"><i class="icon-arrow-left"></i></a></li>`)
            $.each(response, function (key, value) { 
              i=i+1;
             
              if(i%4==0){
                if(c>0){
                $("#pages").append(  `<li class="page-item " id="currentpage" ><a href="# id="page" class="page-link">${c}</a></li>`)
                c=c+1;
              
                }
              }
            
     $("tbody").append(` <tr style="background-color:white;">
                                                            <td class="rows" > <div id="uuid" hidden>${value["id"]}</div>
                                                              <input id="level" class="form-control" value="${value["level"]}" type="text" name="username" placeholder="Level"></td>
                                                                    <td class="rows" >
                                                        
                                                                      <input id="course_code" class="form-control" value="${value["course_code"]}" type="text" name="username" placeholder="course code">
                                                                       
                                                                     </td><td>
                                                                        
                                                                      <input id="course_title" class="form-control" value="${value["course_title"]}" type="text" name="username" placeholder="course title">
                                                                     
                                                                     </td><td>
                                                                       
                                                                      <input id="lecturer" class="form-control" value="${value["lecturer"]}" type="text" name="username" placeholder="lecturer">
                                                                         
                                                                     </td> </td> <td>
                                                                        
                                                                      <input id="unit" class="form-control" value="${value["unit"]}" type="text" name="username" placeholder="credit unit">
                                                                     
                                                                   
                                                                      <td><button id="save" type="button"  class="btn btn-inverse-dark"><i class="icon-pencil">Save</i></button>
	
  <button type="button" id="delete"class="btn btn-inverse-dark ">
	<i class="icon-trash">Delete</i></td>
                                                            
                                                        </tr>`);
                                              });
                                              $("#pages").append(  ` <li class="page-item"><a id="navfront" class="page-link"><i class="icon-arrow-right"></i></a></li>`)
                            
          },
      }); 

        }
       
      $(document).on("click","#myDropdown",function(){
  
     getdata();
     
    }) 
    let startpage=parseInt($("#next").text())      
        $(document).on("click","#navfront ",function(){
         
 
 
   startpage=startpage+1;
     getdata(offset=startpage);
     $("#next").text(startpage)
     $("#showing").text(`showing page ${startpage}`)
    })       
    $(document).on("click","#navback ",function(){
         
 
 if(startpage>1){
         startpage=startpage-1;
           getdata(offset=startpage);
           $("#next").text(startpage)
           $("#showing").text(`showing page ${startpage}`)}
          })         
     $(document).on("click","#myDropdown",function(){
     
      getdata(offset=0);
      
     })
     $(document).on("click","#currentpage",function(){
      getdata(offset=parseInt($(this).text())*parseInt($(this).text()));
      $("#showing").text(`showing page ${parseInt($(this).text())*parseInt($(this).text())}`)
     
    })   
        $(document).on("click","#delete",function(){
       
            let id=$(this).closest('tr').find('#uuid').text();
            $.ajax({
      type: "POST",
      url: "/delcourse",
      data:{id:id},
      success(data) {

       location.reload();
     
                        
      },
  });  
        }); 
        $(document).on("change","#class",function(){
  getdata();
  
 })
        $.ajax({
      type: "GET",
      url: "/getclass",
    
      success(response) {
        $.each(response, function (key, value) { 
                       
                      		
                                            $("#class").append(`<option>${value['class']}</option>`);
                                          });
  
                        
      },
  });  
        $(document).on("click","#save",function(){
     
     
       let id=$(this).closest('tr').find('#uuid').text();
        let level=$(this).closest('tr').find('#level').val().trim();
        let course_code=$(this).closest('tr').find('#course_code').val().trim();
        let course_title=$(this).closest('tr').find('#course_title').val().trim();
        let lecturer=$(this).closest('tr').find('#lecturer').val().trim();
        let unit=$(this).closest('tr').find('#unit').val().trim();
       
        if(level!='' &&course_code!=''){
       
        $.ajax({
      type: "POST",
      url: "/updatecourse",
      data:{id:id,level:level,course_code:course_code,course_title:course_title, lecturer:lecturer,unit:unit,school:localStorage.getItem("orgnames")},
      success(data) {
        
       location.reload();
     
                        
      },
  });}else{alert("enter value in all fields")}
      })
      $("#addcat").click(function(){
        let level= $('#levels').find(":selected").text();
        let course_code=$("#course_codes").val().trim();
        let course_title=$("#course_titles").val().trim();
        let lecturer=$("#lecturers").val();
        let unit=$("#units").val();
        let dept=$("#setcourse").val();
        if(level!='' &&course_code!=''&&course_title!=''&& lecturer!=''&& unit!=''&&level!=='Select Academic Level'){
           
        $.ajax({
      type: "POST",
      url: "/addcourse",
      data:{level:level,course_code:course_code,course_title:course_title, lecturer:lecturer,unit:unit,dept:dept},
      success(data) {
      
  getdata();
     
                        
      },
  });}else{alert("enter value in all fields")}
      })
     
    })
</script>
  </body>
</html>