
<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Stellar Admin</title>
    <!-- plugins:css -->
    <link rel="stylesheet" href="vendors/simple-line-icons/css/simple-line-icons.css">
    <link rel="stylesheet" href="vendors/flag-icon-css/css/flag-icon.min.css">
    <link rel="stylesheet" href="vendors/css/vendor.bundle.base.css">
    <!-- endinject -->
    <!-- Plugin css for this page -->
    <link rel="stylesheet" href="./vendors/daterangepicker/daterangepicker.css">
    <link rel="stylesheet" href="./vendors/chartist/chartist.min.css">
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <!-- endinject -->
    <!-- Layout styles -->
    <link rel="stylesheet" href="./css/style.css">
    <!-- End layout styles -->
    <link rel="shortcut icon" href="./images/favicon.png" />
  </head>
  <body>
    <% if(typeof admin!= 'undefined' && admin!='') {
      %>
    <div id="admin" hidden><%=admin%></div>
    <%}%>
    <% if(typeof admin!= 'undefined' && admin!='') {
      %>
      <div id="results" hidden><%=exam%></div>
    <%}%>
    <% if(typeof admin!= 'undefined' && admin!='') {
      %>
      <div id="stud" hidden><%=stud%></div>
    <%}%>
     
               

              

    <div class="container-scroller">
      <!-- partial:partials/_navbar.html -->
 
      <%-include("./partials/navbar.ejs") %>
   
      <!-- partial -->
      <div class="container-fluid page-body-wrapper">
        <!-- partial:partials/_sidebar.html -->
       
        <%-include("./partials/AdminSidebar.ejs") %>
       
        <!-- partial -->
        <div class="main-panel">
          <div class="content-wrapper">
         
             <!-- Quick Action Toolbar Starts-->
            
                      
                    <br>
                   
             <div class="col-lg-12 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                    <h4 class="card-title">Grading</h4>
                  
                    </p>
                    <table border="1" class="table ">
                      <thead class="thead-dark">
                          <tr>
                                   <th>Minimum Score</th>
                                   <th>Maximum Score</th>
                                   <th>Grade</th>
                                   <th>Credit Units</th>
                                   <th>Actions</th>
                               </tr>
                           </thead>
                           <tbody>
                               <% if(typeof model!= 'undefined') {
                                   %>
                                   <% for (const cat of model) { %>
                                      <tr> <td>
                                       <div id="uuid" hidden><%= cat.id%></div>
                                         <input id="level" class="form-control" value="  <%= cat.dept %>" type="text" name="username" placeholder="Level">  
                            
                                      </td> <td>
                                       
                              
                                       <input id="course_code" class="form-control" value="  <%= cat.faculty %>" type="text" name="username" placeholder="Level">  
                                    
                                    </td> <td>
                                      
                                       <input id="course_title" class="form-control" value=" <%= cat.session_count%>" type="text" name="username" placeholder="Level">  
                                  
                                    </td><td><button id="save" type="button"  class="btn btn-inverse-dark btn-icon"><i class="icon-pencil"></i></button>
	
                                      <button type="button" id="delete"class="btn btn-inverse-dark btn-icon">
                                      <i class="icon-trash"></i></td></tr></tr>
                                     <% } %>
                                   
                                   <%}%>
                    
                           </tbody>
                       </table>
                       <h3>New</h3><br>
                       <div class="row">
              
                           <div class="col-lg-6"><input id="from" class="form-control" type="text" name="username" placeholder="Minimum Score"></div>
                           <div class="col-lg-6"><input id="to" class="form-control" type="text" name="username" placeholder="Maximum Score"></div>
                           <div class="col-lg-6"><input id="grade" class="form-control" type="text" name="username" placeholder="Grade"></div>
                           <div class="col-lg-6"><input id="units" class="form-control" type="text" name="username" placeholder="Units"></div>
                                                </div>
                         <br/><button id="add" class="au-btn au-btn--block au-btn--green m-b-20" type="button">Save</button>
               
                   </div>
              
               
               </div>
             
           </div>

           
                  
                  </div>
                </div>
              </div>
            </div>
          </div>
        
        </div>
        <!-- main-panel ends -->
      </div>
      <!-- page-body-wrapper ends -->
    </div>
    <!-- container-scroller -->
    <!-- plugins:js -->
    <script src="vendors/js/vendor.bundle.base.js"></script>
    <!-- endinject -->
    <!-- Plugin js for this page -->
    <script src="./vendors/chart.js/Chart.min.js"></script>
    <script src="./vendors/moment/moment.min.js"></script>
    <script src="./vendors/daterangepicker/daterangepicker.js"></script>
    <script src="./vendors/chartist/chartist.min.js"></script>
    <!-- End plugin js for this page -->
    <!-- inject:js -->
    <script src="js/off-canvas.js"></script>
    <script src="js/misc.js"></script>
    <!-- endinject -->
    <!-- Custom js for this page -->
    <script src="./js/dashboard.js"></script>
    <!-- End custom js for this page -->
    <!-- jquery JS-->
    <script src="vendor/jquery-3.2.1.min.js"></script>
    <script src="/js/main.js"></script>
   
<script>
    $(document).ready(function(){
     getdata()
      function getdata(){
        $.ajax({
          type: "GET",
          url: "/getgrading",
        
          success(response) {
            $("tbody").empty();
          
            $.each(response, function (key, value) { 
                           
                                  
                                                $("tbody").append(` 
                          <tr><td> <input id="course_code" class="form-control" value="${value["from"]}" type="text" name="username" placeholder="Level"></td> 
                            <td> <input id="course_code" class="form-control" value="${value["to"]}" type="text" name="username" placeholder="Level"></td>
                            <td> <input id="course_code" class="form-control" value="${value["grade"]}" type="text" name="username" placeholder="Level"></td>
                            <td> <input id="course_code" class="form-control" value="${value["units"]}" type="text" name="username" placeholder="Level"></td>
                            <td><button id="save" type="button"  class="btn btn-inverse-dark btn-icon"><i class="icon-pencil"></i></button>
	
  <button type="button" id="delete"class="btn btn-inverse-dark btn-icon">
	<i class="icon-trash"></i></td></tr>
                                                `);
                                              });
                                           
      
                            
          },
      }); 
        }
      $(document).on("click","#myDropdown",function(){
  
     getdata();
     
    })     
        $(document).on("click","#delete",function(){
            alert("gfgf")
            let id=$(this).closest('tr').find('#uuid').text();
            $.ajax({
      type: "POST",
      url: "/delcourse",
      data:{id:id},
      success(data) {
      alert("deleted")
       location.reload();
     
                        
      },
  });  
        }); 
        $(document).on("change","#class",function(){
  getdata();
  
 })
        $.ajax({
      type: "GET",
      url: "/getclass",
    
      success(response) {
        $.each(response, function (key, value) { 
                       
                      		
                                            $("#class").append(`<option>${value['class']}</option>`);
                                          });
  
                        
      },
  });  
        $(document).on("click","#save",function(){
      
     
       let id=$(this).closest('tr').find('#uuid').text();
        let level=$(this).closest('tr').find('#level').val();
        let course_code=$(this).closest('tr').find('#course_code').val();
        let course_title=$(this).closest('tr').find('#course_title').val();
        let lecturer=$(this).closest('tr').find('#lecturer').val();
        let unit=$(this).closest('tr').find('#unit').val();
       
        if(level!='' &&course_code!=''){
           
        $.ajax({
      type: "POST",
      url: "/updatecourse",
      data:{id:id,level:level,course_code:course_code,course_title:course_title, lecturer:lecturer,unit:unit,school:localStorage.getItem("orgnames")},
      success(data) {
      
       location.reload();
     
                        
      },
  });}else{alert("enter value in all fields")}
      })
      $("#add").click(function(){
        let from=$("#from").val();
      
        let to=$("#to").val();
        let grade=$("#grade").val();
        let units=$("#units").val();

        if(to!='' &&from!=''&&grade!=''){
           
        $.ajax({
      type: "POST",
      url: "/add_grade",
      data:{to:to,from:from,grade:grade,units:units},
      success(data) {
      
  getdata();
     
                        
      },
  });}else{alert("enter value in all fields")}
      })
     
    })
</script>
  </body>
</html>