
<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Exam Admin</title>
    <!-- plugins:css -->
    <link rel="stylesheet" href="vendors/simple-line-icons/css/simple-line-icons.css">
    <link rel="stylesheet" href="vendors/flag-icon-css/css/flag-icon.min.css">
    <link rel="stylesheet" href="vendors/css/vendor.bundle.base.css">
    <!-- endinject -->
    <!-- Plugin css for this page -->
    <link rel="stylesheet" href="./vendors/daterangepicker/daterangepicker.css">
    <link rel="stylesheet" href="./vendors/chartist/chartist.min.css">
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <!-- endinject -->
    <!-- Layout styles -->
    <link rel="stylesheet" href="./css/style.css">
    <!-- End layout styles -->
    <link rel="shortcut icon" href="./images/favicon.png" />
  </head>
  <body>
    <% if(typeof admin!= 'undefined' && admin!='') {
      %>
    <div id="admin" hidden><%=admin%></div>
    <%}%>
    <% if(typeof admin!= 'undefined' && admin!='') {
      %>
      <div id="results" hidden><%=exam%></div>
    <%}%>
    <% if(typeof admin!= 'undefined' && admin!='') {
      %>
      <div id="stud" hidden><%=stud%></div>
    <%}%>
     
               
    <div class="col-lg-6"><input id="course_code" class="form-control" value="<%=user%>"  name="username" placeholder="Subject" hidden></div>
    <div class="col-lg-6"><input id="course_code" class="form-control" value="<%=user%>"  name="username" placeholder="Subject" hidden></div>
              

    <div class="container-scroller">
      <!-- partial:partials/_navbar.html -->
 
      <%-include("./partials/navbar.ejs") %>
   
      <!-- partial -->
      <div class="container-fluid page-body-wrapper">
        <!-- partial:partials/_sidebar.html -->
       
        <%-include("./partials/AdminSidebar.ejs") %>
       
        <!-- partial -->
        <div class="main-panel">
          <div class="content-wrapper">
         
             <!-- Quick Action Toolbar Starts-->
            
             <div class="col-lg-12 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                    <h4 class="card-title">Score Sheets</h4>
                  
                    </p>
                    <table class="table" border=1 style="background-color: white;">
                        <thead>
                            <tr id="row">
                              <th>Students</th>
                                        
                                    </tr>
                        </thead>
                        <tbody>
                         
                        </tbody>
                    </table>
                  </div>
                </div>
               
              </div>
              <div class="d-flex mt-4 flex-wrap"  id="pagination">
              
                <nav class="ml-auto" id="cc">
                  <ul class="pagination separated pagination-info" id="pages">
                    <li class="page-item"><a href="#" class="page-link"><i class="icon-arrow-left"></i></a></li>
                    <li class="page-item active"><a href="#" class="page-link">1</a></li>
                    <li class="page-item"><a href="#" class="page-link">2</a></li>
                    <li class="page-item"><a href="#" class="page-link">3</a></li>
                    <li class="page-item"><a href="#" class="page-link">4</a></li>
                    <li class="page-item"><a href="#" class="page-link"><i class="icon-arrow-right"></i></a></li>
                  </ul>
                </nav>
              </div> 
              <h3>New Scores</h3>
              <div class="row">
               
                <div class="col-lg-6"><input id="reg_no" class="form-control" type="text" name="username" placeholder="Student Name"><p id="namehint"></p></div>
                <div class="col-lg-6"> <select id="semester"class="form-control"> <option>First Term</option> <option>Second Term</option> <option>Third Term</option></select></div>
                            <div class="col-lg-6"><input id="cat" class="form-control" type="number" name="username" placeholder="Continous assesment Score"></div>
                <div class="col-lg-6"><input id="exam" class="form-control" type="number" name="username" placeholder="Examination Score"></div> 
               <div class="col-lg-6"> <br><h4>for Carry-Over Student</h4> <select id="carry-over"class="form-control"> <option>Select Current Level</option> <option>100</option> <option>200</option>
                </option> <option>300</option></option> <option>400</option></select></div>            
            <button type="button" class="form-control btn-icon-text btn-primary"  id="addcat">
                    <i class="icon-doc btn-icon-prepend"> </i> Save</button>
            </div>
 
        </div>
        <!-- main-panel ends -->
      </div>
      <!-- page-body-wrapper ends -->
    </div>
    <!-- container-scroller -->
    <!-- plugins:js -->
    <script src="vendors/js/vendor.bundle.base.js"></script>
    <!-- endinject -->
    <!-- Plugin js for this page -->
    <script src="./vendors/chart.js/Chart.min.js"></script>
    <script src="./vendors/moment/moment.min.js"></script>
    <script src="./vendors/daterangepicker/daterangepicker.js"></script>
    <script src="./vendors/chartist/chartist.min.js"></script>
    <!-- End plugin js for this page -->
    <!-- inject:js -->
    <script src="js/off-canvas.js"></script>
    <script src="js/misc.js"></script>
    <!-- endinject -->
    <!-- Custom js for this page -->
    <script src="./js/dashboard.js"></script>
    <!-- End custom js for this page -->
    <!-- jquery JS-->
    <script src="vendor/jquery-3.2.1.min.js"></script>
    <script src="/js/main.js"></script>
   
<script>
    $(document).ready( function(){
       
        $.ajax({
      type: "GET",
      url: "/getclass",
    
      success(response) {
        $.each(response, function (key, value) { 
                       
                      		
 $("#class").append(`<option>${value['class']}</option>`);
                                          });
  
                        
      },
  }); 
      

  $.ajax({
      type: "GET",
      url: "/scorenames",
     
      success(response) {
        var i=0;
        $.each(response, function (key, value) { 
                            
			i=i+1;			
							$("tbody").append(`<tr id="name${i}"><td style="font-size:20pt;" id="stud">${value["stud_name"]} <a href="#" id="expand"><i class="icon-book-open"></i><i hidden>serial${i}</i></a>
                                <a href="/printpreview/:${value["stud_name"]}" id="print"><i class="icon-printer"></i></a></td></tr>`);
                          });
      },
  })
$(document).on("click","#expand", function(){
    var t=$(this).closest('tr').find('#stud').text()

  $.ajax({
      type: "POST",
      url: "/name",
     data:{stud:t.substring(0,t.lastIndexOf("serial")-1).trim()},
      success(response) {
     
        var examsum=0;
        var catsum=0;  
        var total=0;
        var unitsum=0;
        var credit_units=0;
        var cpga=0;
        $.each(response,  function (key, value) { 
            examsum=examsum+parseInt(value["exam"])             
            catsum=catsum+parseInt(value["cat"])
            total=examsum+catsum;
            credit_units=credit_units+parseInt(value["credit_unit"])
            unitsum=unitsum+(parseInt(value["units"])*parseInt(value["credit_unit"]))
         cpga=unitsum/credit_units;
           $('#name'+t.substring(t.lastIndexOf("serial")+6).trim()).append(`<td >${value["course_code"]} <br>${value["grade"]} </td>`);
         
                          });
                          $('#name'+t.substring(t.lastIndexOf("serial")+6).trim()).append(`<td ><b>Total </br>${total}<b><br>CPGA </br>${cpga.toFixed(2)}  </td>`);
                     
      },
  })
})
$(document).on("click","#print", function(){
    var t=$(this).closest('tr').find('#stud').text()

  $.ajax({
      type: "POST",
      url: "/printpreview",
     data:{studs:t.substring(0,t.lastIndexOf("serial")-1).trim()},
      success(response) {
      
        location.href="/printpreview"
                     
      },
  })
})
    })
</script>
  </body>
</html>