
<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Exam Admin</title>
    <!-- plugins:css -->
    <link rel="stylesheet" href="vendors/simple-line-icons/css/simple-line-icons.css">
    <link rel="stylesheet" href="vendors/flag-icon-css/css/flag-icon.min.css">
    <link rel="stylesheet" href="vendors/css/vendor.bundle.base.css">
    <!-- endinject -->
    <!-- Plugin css for this page -->
    <link rel="stylesheet" href="./vendors/daterangepicker/daterangepicker.css">
    <link rel="stylesheet" href="./vendors/chartist/chartist.min.css">
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <!-- endinject -->
    <!-- Layout styles -->
    <link rel="stylesheet" href="./css/style.css">
    <!-- End layout styles -->
    <link rel="shortcut icon" href="./images/favicon.png" />
  </head>
  <body>
    <% if(typeof admin!= 'undefined' && admin!='') {
      %>
    <div id="admin" hidden><%=admin%></div>
    <%}%>
    <% if(typeof admin!= 'undefined' && admin!='') {
      %>
      <div id="results" hidden><%=exam%></div>
    <%}%>
    <% if(typeof admin!= 'undefined' && admin!='') {
      %>
      <div id="stud" hidden><%=stud%></div>
    <%}%>
     
               
                  

    <div class="container-scroller">
      <!-- partial:partials/_navbar.html -->
 
      <%-include("./partials/navbar.ejs") %>
   
      <!-- partial -->
      <div class="container-fluid page-body-wrapper">
        <!-- partial:partials/_sidebar.html -->
       
        <%-include("./partials/AdminSidebar.ejs") %>
       
        <!-- partial -->
        <div class="main-panel">
          <div class="content-wrapper">
         <br>

              <div class="row">
               
                <div class="col-lg-6">  <label for="exampleInputUsername2" class="col-sm-3 col-form-label">Department</label>  <div class="form-group">
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <button class="btn btn-sm btn-outline-primary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Filter By Department</button>
                      <div class="dropdown-menu" id="myDropdown">
                      <input type="text" placeholder="Search.." id="myInput" onkeyup="filterFunction()">
                        <a class="dropdown-item" href="#" ><span  id="course" > Action1</span></a>
                        <a class="dropdown-item" href="#"  ><span id="course"  > Action2</span></a>
                        <a class="dropdown-item" href="#"  ><span id="course"  > Action3</span></a>
                        <div role="separator" class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#"  ><span id="course"  > Action4</span></a>
                      </div>
                    </div>
                    <input type="text" id="setcourse" class="form-control" aria-label="Text input with dropdown button">
                  </div>
                </div></div>
                <div class="col-lg-6">  <label for="exampleInputUsername2" class="col-sm-3 col-form-label">Academic Session</label>
                  <input type="text" id="datepicker"  class="form-control" /></p></div>
                  <script>function filterFunction() {
                    var input, filter, ul, li, a, i;
                    input = document.getElementById("myInput");
                    filter = input.value.toUpperCase();
                    div = document.getElementById("myDropdown");
                    a = div.getElementsByTagName("a");
                    for (i = 0; i < a.length; i++) {
                      txtValue = a[i].textContent || a[i].innerText;
                      if (txtValue.toUpperCase().indexOf(filter) > -1) {
                        a[i].style.display = "";
                      } else {
                        a[i].style.display = "none";
                      }
                    }
                  }
                  const colorSelectors = document.querySelector("#myDropdown");
                  
                  /* define event listeners */
                  const loadEventListeners = () => {
                  
                      colorSelectors.addEventListener("click", (e) => {
                          e.preventDefault();
                      
                          $("#setcourse").val(e.target.innerText)
                              $("#deptcourses").text(`Department of ${e.target.innerText} Courses`)
                      });
                  }
                  
                  /* Load all event listeners */
                  loadEventListeners();
                  </script>
            </div>
            
            <div class="row">
              <br/>
              <div ><h1 id="department">Department of Biology</h1></div>
                   <h2 class="title-1 m-b-25"></h2>
                   <div class="table table-bordered p-0">
                       
                       <table border="1" class="table ">
                           <thead class="thead-dark">
                               <tr>
                                   <th>Student_Name</th>
                                   <th>Registration Number</th>
                                   <th>Current Academic Level</th>
                                   <th>Actions</th>
                                 
                               </tr>
                           </thead>
                           <tbody id="tbody">
                               <% if(typeof model!= 'undefined') {
                                   %>
                                   <% for (const cat of model) { %>
                                      <tr> <td>
                                       <div id="uuid" hidden><%= cat.id%></div>
                                         <input id="level" class="form-control" value=" <%= cat.stud_name %>" type="text" name="username" placeholder="Level">  
                                      </td> <td>
                                       
                                       <input id="reg_no" class="form-control" value="<%= cat.reg_no %>" type="text" name="username" placeholder="Level">  
                                   
                                    </td> <td>
                                      
                                       <input id="level" class="form-control" value=" <%= cat.level%>" type="text" name="username" placeholder=">Current Academic Level">  
                                     
                                    </td><td><button type="button" class="btn btn-success">Save Changes</button>
                                      <button type="button" id="delete"class="btn btn-inverse-dark btn-icon">
                                        <i class="icon-trash"></i></button></td> </tr>
                                     <% } %>
                                   
                                   <%}%>
                                  
                           </tbody>
                       </table>
                       <div class="d-flex mt-4 flex-wrap"  id="pagination">
 
                           <nav class="ml-auto" id="cc">
                             <ul class="pagination separated pagination-info" id="pages">
                               <li class="page-item"><a href="#" class="page-link"><i class="icon-arrow-left"></i></a></li>
                               <li class="page-item active"><a href="#" class="page-link">1</a></li>
                               <li class="page-item"><a href="#" class="page-link">2</a></li>
                               <li class="page-item"><a href="#" class="page-link">3</a></li>
                               <li class="page-item"><a href="#" class="page-link">4</a></li>
                               <li class="page-item"><a href="#" class="page-link"><i class="icon-arrow-right"></i></a></li>
                             </ul>
                           </nav>
                         </div> 
                       <h3> Add Student</h3>
                       <div >
                           <div class="col-lg-6"><input id="stud_name" class="form-control" type="text" name="username" placeholder="Student Name"></div>
                           <div class="col-lg-6"><input id="reg_no" class="form-control" type="text" name="username" placeholder="Registration Number"></div>
                           <div class="col-lg-6"><input id="level" class="form-control" type="text" name="username" placeholder="Level"></div>
                                       
                               </div>
                         <br/><button id="addcat" type="button" ><i class="far fa-check-square" ></i>Save</button>
               
                   </div>
              
               
               </div>
             
        
 

            
            
            
        
        </div>
        <!-- main-panel ends -->
      </div>
      <!-- page-body-wrapper ends -->
    </div>
    <!-- container-scroller -->
    <!-- plugins:js -->
    <script src="vendors/js/vendor.bundle.base.js"></script>
    <!-- endinject -->
    <!-- Plugin js for this page -->
    <script src="./vendors/chart.js/Chart.min.js"></script>
    <script src="./vendors/moment/moment.min.js"></script>
    <script src="./vendors/daterangepicker/daterangepicker.js"></script>
    <script src="./vendors/chartist/chartist.min.js"></script>
    <!-- End plugin js for this page -->
    <!-- inject:js -->
    <script src="js/off-canvas.js"></script>
    <script src="js/misc.js"></script>
    <!-- endinject -->
    <!-- Custom js for this page -->
    <script src="./js/dashboard.js"></script>
    <!-- End custom js for this page -->
    <!-- jquery JS-->
    <script src="vendor/jquery-3.2.1.min.js"></script>
    <script src="/js/main.js"></script>
 
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/js/bootstrap-datepicker.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/css/bootstrap-datepicker.css" rel="stylesheet"/>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

  
    <script>
      $(document).ready(function(){
        
        $("#datepicker").datepicker({
    format: "yyyy",
    viewMode: "years", 
    minViewMode: "years"
});
        $.ajax({
          type: "GET",
          url: "/getdept",
        
          success(response) {
            $("#myDropdown").empty();
            $("#myDropdown").append(`<input type="text" placeholder="Search.." id="myInput" onkeyup="filterFunction()">`)
            $.each(response, function (key, value) { 
                           
                                  
                                                $("#myDropdown").append(` 
                           
                            <div role="separator" class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#"  ><span id="course"  >${value["dept"]}</span></a>`);
                            $("#setcourse").val(value["dept"])
                    
                                              });
                                           
                                              $("#department").text(`Department of ${$("#setcourse").val()} ${$("#datepicker").val()} Session`) 
                                              getstud(); 
                            
          },
      }); 
      function getstud(offset=0){
        $("#datepicker").val("2006")
        $.ajax({
          type: "POST",
          url: "/filterdata",
          data:{dept:$("#setcourse").val(),session:$("#datepicker").val(),offset:offset},
          success(response) {

    var c=1;
   var i=0;
   $("#tbody").empty()
   $("#pages").empty();
       $("#pages").append(  ` <li class="page-item"><a  class="page-link"><i class="icon-arrow-left"></i></a></li>`)
   $.each(response, function (key, value) { 
     i=i+1;
        
         if(i%4==0){
           if(c>0){
           $("#pages").append(  `<li class="page-item " id="currentpage" ><a href="# id="page" class="page-link">${c}</a></li>`)
           c=c+1;
         
           }
         }                   
   
         $("#tbody").append(`<tr> <td>
                                       <div id="uuid" hidden>${value["id"]}</div>
                                         <input id="stud_name" class="form-control" value="${value["stud_name"]}" type="text" name="username" placeholder="Level">  
                                      </td> <td>
                                       
                                       <input id="reg_no" class="form-control" value="${value["reg_no"]}" type="text" name="username" placeholder="Level">  
                                   
                                    </td> <td>
                                      
                                       <input id="level" class="form-control" value="${value["level"]}" type="text" name="username" placeholder=">Current Academic Level">  
                                     
                                    </td><td><button id="save" type="button" class="btn btn-success">Save Changes</button>
                                      <button type="button" id="delete"class="btn btn-inverse-dark btn-icon">
                                        <i class="icon-trash"></i></button></td> </tr>`);
                     });
                     $("#pages").append(  ` <li class="page-item"><a  class="page-link"><i class="icon-arrow-right"></i></a></li>`)
 }
      }); 
      }
          $(document).on("click","#delete",function(){
           //   alert("gfgf")
              let id=$(this).closest('tr').find('#uuid').text();
              $.ajax({
        type: "POST",
        url: "/delstud",
        data:{id:id},
        success(data) {
      
         location.reload();
       
                          
        },
    });  
          }); 
  getstud()     
  $(document).on("click","#currentpage",function(){
 
      getstud(offset=parseInt($(this).text())*parseInt($(this).text()));

     
    })    
$(document).on("change","#datepicker",function(){
 
$("#department").text(`Department of ${$("#setcourse").val()} ${$("#datepicker").val()} Session`)
getstud() 
})
        $("#addcat").click(function(){
          let level=$("#level").val();
          let stud_name=$("#stud_name").val();
          let dept=$("#setcourse").val();
          let reg_no=$("#reg_no").val();
          let session=$("#datepicker").val();
          if(level!='' &&stud_name!=''&&dept!=''){
            
          $.ajax({
        type: "POST",
        url: '/addstudent',
        data:{level:level,stud_name:stud_name,dept:dept,reg_no:reg_no,session:session},
        success(data) {
       
         location.reload();
       
                          
        },
    });}else{alert("enter value in all fields")}
        })
        $(document).on("click","#save",function(){
         
         let id=$(this).closest('tr').find('#uuid').text();
         let reg_no=$(this).closest('tr').find('#reg_no').val();
         let level=$(this).closest('tr').find('#level').val();
     
         let stud_name=$(this).closest('tr').find('#stud_name').val().trim();
         
         if(stud_name!=''&&reg_no!=''&& level!=''){
          
         $.ajax({
       type: "POST",
       url: "/updatestud",
       data:{id:id,reg_no:reg_no,level:level,stud_name:stud_name},
       success(data) {
     location.reload()
  
                         
       },
   });}else{alert("enter value in all fields")}
       }) 
      })
  </script>
  </body>
</html>