
<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Exam Admin</title>
    <!-- plugins:css -->
    <link rel="stylesheet" href="vendors/simple-line-icons/css/simple-line-icons.css">
    <link rel="stylesheet" href="vendors/flag-icon-css/css/flag-icon.min.css">
    <link rel="stylesheet" href="vendors/css/vendor.bundle.base.css">
    <!-- endinject -->
    <!-- Plugin css for this page -->
    <link rel="stylesheet" href="./vendors/daterangepicker/daterangepicker.css">
    <link rel="stylesheet" href="./vendors/chartist/chartist.min.css">
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <!-- endinject -->
    <!-- Layout styles -->
    <link rel="stylesheet" href="./css/style.css">
    <!-- End layout styles -->
    <link rel="shortcut icon" href="./images/favicon.png" />
  </head>
  <body>
    <div class="container-scroller">
      <!-- partial:partials/_navbar.html -->
      <%-include("./partials/navbar.ejs") %>
      <!-- partial -->
      <div class="container-fluid page-body-wrapper">
        <!-- partial:partials/_sidebar.html -->
        <%- include("./partials/AdminSidebar.ejs") %>
        <!-- partial -->
        <div class="main-panel">
          <div class="content-wrapper">
         
             <!-- Quick Action Toolbar Starts-->
            
                    
             <div class="col-lg-12 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                    <h4 class="card-title">Examination Officers</h4>
                  
                    </p>
                    <table class="table table-bordered">
                      <thead>
                        <tr>
                            <th><b>Username</th>
                            <th><b>Academic Level</th>
                            <th><b>department</th>
                            <th><b>password</th>
                            <th><b>Access Restrictions</th>
                           
                            <th><b>Actions</th>
                        </tr>
                      </thead>
                      <tbody>
                        <% if(typeof model!= 'undefined') {
                            %>
                            <% for (const cat of model) { %>
                               <tr> <td>
                                 <div id="uuid" hidden><%= cat.id%></div>
                                  <input id="username" class="form-control" value="<%= cat.username%>" type="text"  placeholder="username">  
                     
                               </td> <td>
                                
                       
                                <input id="level"class="form-control" value="<%= cat.level %>" type="text"  placeholder="academic level">  
                             
                             </td> <td>
                                
                       
                                <input id="dept"class="form-control" value="<%= cat.dept %>" type="text"  placeholder="Department">  
                             
                             </td><td>
                               
                                <input id="password"class="form-control" value="<%= cat.password%>" type="text"  placeholder="password">  
                           
                             </td>  <td>
                               <div class="row">
                               Admin:<div class="col"> <input id="result" value="checked" type="checkbox" name="username" placeholder="Level" <%= cat.result%>/> </div> 
                                Exam:<div class="col">  <input id="exams"  value="checked" type="checkbox" name="username" placeholder="Level" <%= cat.exams%>/> </div>  

                               Student:<div class="col">  <input id="users"  value="checked" type="checkbox" name="username" placeholder="Level" <%= cat.users%>/> </div>  
                        </div>
                             </td><td><button id="save" type="button"  class="btn btn-inverse-dark btn-icon">Save</button>
	
                              <button type="button" id="delete"class="btn btn-inverse-dark btn-icon">
                              <i class="icon-trash"></i></td></tr></tr>
                              <% } %>
                            
                            <%}%>
             
                    </tbody>
                    </table>
                  </div>
                </div>
              </div>

              <h3>New Exam Officer</h3>
              <div class="row">
               
              <div class="col-lg-6"><input id="usernames" class="form-control" type="text" name="username" placeholder="username"></div>
              <div class="col-lg-6"><input id="passwords" class="form-control" type="text" name="username" placeholder="password"></div>
              <div class="col-lg-6"> <br><select id="levels"class="form-control"> <option>Select Current Level</option> <option>100</option> <option>200</option>
              </option> <option>300</option></option> <option>400</option><option>500</option><option>600</option></select></div>       
              <div class="col-lg-6"><br><input id="depts" class="form-control" type="text" name="username" placeholder="department"></div>
              <div class="col-lg-6"><br><input id="session" class="form-control" type="number" name="username" placeholder="Academic Session e.g 2006"></div>
              <div><h5>Acesss & restrictions</h5><br></div>
              <div class="col">result: <input id="results" class="au-input au-input--full" value="checked" type="checkbox" name="username"  /> </div> 
              <div class="col">  exams: <input id="examss" class="au-input au-input--full"  value="checked" type="checkbox" name="username" placeholder="Level" /> </div>
               
                <div class="col"> users: <input id="userss" class="au-input au-input--full"  value="checked" type="checkbox" name="username" placeholder="Level" /> </div> 
              
            <button type="button" class="form-control btn-icon-text btn-primary"  id="adduser">
                    <i class="icon-doc btn-icon-prepend"> </i> Save</button>
            </div>
            <!-- Quick Action Toolbar Ends-->
          
         
          </div>
          <!-- content-wrapper ends -->
          <!-- partial:partials/_footer.html -->
          
        <!-- main-panel ends -->
      </div>
      <!-- page-body-wrapper ends -->
    </div>
    <!-- container-scroller -->
    <!-- plugins:js -->
    <script src="vendors/js/vendor.bundle.base.js"></script>
    <!-- endinject -->
    <!-- Plugin js for this page -->
    <script src="./vendors/chart.js/Chart.min.js"></script>
    <script src="./vendors/moment/moment.min.js"></script>
    <script src="./vendors/daterangepicker/daterangepicker.js"></script>
    <script src="./vendors/chartist/chartist.min.js"></script>
    <!-- End plugin js for this page -->
    <!-- inject:js -->
    <script src="js/off-canvas.js"></script>
    <script src="js/misc.js"></script>
    <!-- endinject -->
    <!-- Custom js for this page -->
    <script src="./js/dashboard.js"></script>
    <!-- End custom js for this page -->
    <!-- jquery JS-->
    <script src="vendor/jquery-3.2.1.min.js"></script>
    <script src="/js/main.js"></script>
    <script>
        const xValues = ["Italy", "France", "Spain", "USA", "Argentina"];
        const yValues = [55, 49, 44, 24, 15];
        const barColors = ["red", "green","blue","orange","brown"];
        
        new Chart("percent-chart", {
          type: "pie",
          data: {
            labels: xValues,
            datasets: [{
              backgroundColor: barColors,
              data: yValues
            }]
          },
          options: {
            legend: {display: false},
            title: {
              display: true,
              text: "World Wine Production 2018"
            }
          }
        });
        </script>
<script>
    $(document).ready(function(){
      if($("#user").text()==''){location.href="/login"}
        $(document).on("click","#delete",function(){
         //   alert("gfgf")
            let id=$(this).closest('tr').find('#uuid').text();
            $.ajax({
      type: "POST",
      url: "/deluser",
      data:{id:id},
      success(data) {
    
       location.reload();
     
                        
      },
  });  
        }); 
      $(document).on("click","#save",function(){
        if($(this).closest('tr').find('#result').prop('checked')){
            $(this).closest('tr').find('#result').val("checked"); 
        }else{
            $(this).closest('tr').find('#result').val("unchecked"); 
        }
        if($(this).closest('tr').find('#exams').prop('checked')){
            $(this).closest('tr').find('#exams').val("checked"); 
        }else{
            $(this).closest('tr').find('#exams').val("unchecked"); 
        }
        if($(this).closest('tr').find('#users').prop('checked')){
            $(this).closest('tr').find('#users').val("checked"); 
        }else{
            $(this).closest('tr').find('#users').val("unchecked"); 
        }
     
       let id=$(this).closest('tr').find('#uuid').text();
        let username=$(this).closest('tr').find('#username').val();
        let level=$(this).closest('tr').find('#level').val();
        let password=$(this).closest('tr').find('#password').val();
        let dept=$(this).closest('tr').find('#dept').val(); 
        
        let result=$(this).closest('tr').find('#result').val();
        let exams=$(this).closest('tr').find('#exams').val();
        let users=$(this).closest('tr').find('#users').val();
        if(username!='' &&password!=''){
           
        $.ajax({
      type: "POST",
      url: "/updateusers",
      data:{id:id,username:username,level:level, dept:dept, password:password,result:result, exams:exams,users:users,school:localStorage.getItem("orgnames")},
      success(data) {
      
       location.reload();
     
                        
      },
  });}else{alert("enter value in all fields")}
      })
      $(document).on("click","#adduser",function(){
        if($('#results').prop('checked')){
            $('#results').val("checked"); 
        }else{
            $('#results').val("unchecked"); 
        }
        if($('#examss').prop('checked')){
            $('#examss').val("checked"); 
        }else{
            $('#examss').val("unchecked"); 
        }
        if($('#userss').prop('checked')){
            $('#userss').val("checked"); 
        }else{
            $('#userss').val("unchecked"); 
        }
     
     
        let username=$('#usernames').val();
        let levels=$('#levels').val();
        let password=$('#passwords').val();
        let level=$('#levels').val();
        let result=$('#results').val();
        let exams=$('#examss').val();
        let users=$('#userss').val();
        let dept=$('#depts').val();
        let sessions=$('#session').val();
        if(username!='' &&password!=''){
           
        $.ajax({
      type: "POST",
      url: "/registerUser",
      data:{username:username, dept:dept, level:levels, password:password,result:result, exams:exams,users:users,session:sessions},
      success(data) {
     
       location.reload();
     
                        
      },
  });}else{alert("enter value in all fields")}
      })
    
    })
</script>
  </body>
</html>