
<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Exam Admin</title>
    <!-- plugins:css -->
    <link rel="stylesheet" href="vendors/simple-line-icons/css/simple-line-icons.css">
    <link rel="stylesheet" href="vendors/flag-icon-css/css/flag-icon.min.css">
    <link rel="stylesheet" href="vendors/css/vendor.bundle.base.css">
    <!-- endinject -->
    <!-- Plugin css for this page -->
    <link rel="stylesheet" href="./vendors/daterangepicker/daterangepicker.css">
    <link rel="stylesheet" href="./vendors/chartist/chartist.min.css">
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <!-- endinject -->
    <!-- Layout styles -->
    <link rel="stylesheet" href="./css/style.css">
    <!-- End layout styles -->
    <link rel="shortcut icon" href="./images/favicon.png" />
  </head>
  <body>
    <% if(typeof admin!= 'undefined' && admin!='') {
      %>
    <div id="admin" hidden><%=admin%></div>
    <%}%>
    <% if(typeof admin!= 'undefined' && admin!='') {
      %>
      <div id="results" hidden><%=exam%></div>
    <%}%>
    <% if(typeof admin!= 'undefined' && admin!='') {
      %>
      <div id="stud" hidden><%=stud%></div>
    <%}%>
     
               
                  

    <div class="container-scroller">
      <!-- partial:partials/_navbar.html -->
 
      <%-include("./partials/navbar.ejs") %>
   
      <!-- partial -->
      <div class="container-fluid page-body-wrapper">
        <!-- partial:partials/_sidebar.html -->
       
        <%-include("./partials/AdminSidebar.ejs") %>
       
        <!-- partial -->
        <div class="main-panel">
          <div class="content-wrapper">
         <br>
 <!-- Quick Action Toolbar Starts-->
 <div class="row quick-action-toolbar">
    <div class="col-md-12 grid-margin">
      <div class="card">
        <div class="card-header d-block d-md-flex">
          <h5 class="mb-0">Quick Actions</h5>
          <p class="ml-auto mb-0"><i class="icon-bulb"></i></p>
        </div>
        <div class="d-md-flex row m-0 quick-action-btns" role="group" aria-label="Quick action buttons">
          <div class="col-sm-6 col-md-3 p-3 text-center btn-wrapper">
            <button type="button" class="btn px-0"> <i class="icon-user mr-2"></i><a href="/students">Add Student</a> </button>
          </div>
          <div class="col-sm-6 col-md-3 p-3 text-center btn-wrapper">
            <button type="button" class="btn px-0"><i class="icon-docs mr-2"></i><a href="/transcript"> print Transcript</a></button>
          </div>
          <div class="col-sm-6 col-md-3 p-3 text-center btn-wrapper">
            <button type="button" class="btn px-0"><i class="icon-note mr-2"></i><a href="/cat"> Record Exams</a></button>
          </div>
          <div class="col-sm-6 col-md-3 p-3 text-center btn-wrapper">
            <button type="button" class="btn px-0"><i class=" icon-chemistry mr-2"></i><a href="/course"> Register Course</a></button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Quick Action Toolbar Ends-->
  <div class="row">
    <div class="col-md-12 grid-margin">
      <div class="card">
        <div class="card-body">
          <div class="row">
            <div class="col-md-12">
              <div class="d-sm-flex align-items-baseline report-summary-header">
                <h5 class="font-weight-semibold">Report Summary</h5> <span class="ml-auto">Updated Report</span> <button class="btn btn-icons border-0 p-2"><i class="icon-refresh"></i></button>
              </div>
            </div>
          </div>
          <div class="row report-inner-cards-wrapper">
            <div class=" col-md -6 col-xl report-inner-card">
              <div class="inner-card-text">
                <span class="report-title">REGISTERED STUDENTS</span>
                <h4 id="studs">123</h4>
               
              </div>
              <div class="inner-card-icon bg-success">
                <i class="icon-people"></i>
              </div>
            </div>
            <div class="col-md-6 col-xl report-inner-card">
              <div class="inner-card-text">
                <span class="report-title">REGISTERED COURSES</span>
                <h4>222</h4>
                <span class="report-count"> aLL Reports</span>
              </div>
              <div class="inner-card-icon bg-danger">
                <i class=" icon-chemistry"></i>
              </div>
            </div>
            <div class="col-md-6 col-xl report-inner-card">
              <div class="inner-card-text">
                <span class="report-title">Departments</span>
                <h4 id="depts">2650</h4>
                <span class="report-count">aLL RECORDS</span>
              </div>
              <div class="inner-card-icon bg-warning">
                <i class="icon-graduation"></i>
              </div>
            </div>
            <div class="col-md-6 col-xl report-inner-card">
              <div class="inner-card-text">
                <span class="report-title">TRANSCRIPT</span>
                <h4>25</h4>
               
              </div>
              <div class="inner-card-icon bg-primary">
                <i class=" icon-docs"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
              <div class="row">
               
                <div class="col-lg-6" hidden>  <label for="exampleInputUsername2" class="col-sm-3 col-form-label">Department</label>  <div class="form-group"></div>
                  <div class="input-group" hidden>
                    <div class="input-group-prepend">
                      <button class="btn btn-sm btn-outline-primary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Filter By Department</button>
                      <div class="dropdown-menu" id="myDropdown">
                      <input type="text" placeholder="Search.." id="myInput" onkeyup="filterFunction()">
                        <a class="dropdown-item" href="#" ><span  id="course" > Action1</span></a>
                        <a class="dropdown-item" href="#"  ><span id="course"  > Action2</span></a>
                        <a class="dropdown-item" href="#"  ><span id="course"  > Action3</span></a>
                        <div role="separator" class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#"  ><span id="course"  > Action4</span></a>
                      </div>
                    </div>
                    <input type="text" id="setcourse" class="form-control" aria-label="Text input with dropdown button">
                  </div>
                </div>
                <div class="col-lg-6" hidden>  <label for="exampleInputUsername2" class="col-sm-3 col-form-label">Academic Session</label>
                  <input type="text" id="datepicker"  class="form-control" /></p></div>
                  <script>function filterFunction() {
                    var input, filter, ul, li, a, i;
                    input = document.getElementById("myInput");
                    filter = input.value.toUpperCase();
                    div = document.getElementById("myDropdown");
                    a = div.getElementsByTagName("a");
                    for (i = 0; i < a.length; i++) {
                      txtValue = a[i].textContent || a[i].innerText;
                      if (txtValue.toUpperCase().indexOf(filter) > -1) {
                        a[i].style.display = "";
                      } else {
                        a[i].style.display = "none";
                      }
                    }
                  }
                  const colorSelectors = document.querySelector("#myDropdown");
                  
                  /* define event listeners */
                  const loadEventListeners = () => {
                  
                      colorSelectors.addEventListener("click", (e) => {
                          e.preventDefault();
                      
                          $("#setcourse").val(e.target.innerText)
                              $("#deptcourses").text(`Department of ${e.target.innerText} Courses`)
                      });
                  }
                  
                  /* Load all event listeners */
                  loadEventListeners();
                  </script>
            </div>
            
    
             

            
            
               <div id="A" hidden></div><div id="B"hidden></div><div id="C" hidden></div><div id="D" hidden></div><div id="E" hidden></div>   
               <div class="row">
				<div class="col-md-4 grid-margin stretch-card">
				  <div class="card">
					<div class="card-body">
					  <h4 class="card-title">Sucess Vs Failure</h4>
					  <div class="aligner-wrapper">
						<canvas id="myCharts"  style="width:100%;max-width:600px">32</canvas>
						<div class="wrapper d-flex flex-column justify-content-center absolute absolute-center">
						  <h1 class="text-center mb-0 font-weight-bold" id="total"></h1>
						
						</div>
					  </div>
					 
					</div>
				  </div>
				</div>
				<div class="col-md-8 grid-margin stretch-card">
				  <div class="card">
					<div class="card-body performane-indicator-card">
					  <div class="d-sm-flex">
						<h4 class="card-title flex-shrink-1">Performance Indicator</h4>
						<p class="m-sm-0 ml-sm-auto flex-shrink-0">
						 
						</p>
					  </div>
					  <div class="d-sm-flex flex-wrap">
						<div class="d-flex align-items-center">
						  <span class="dot-indicator bg-primary ml-2"></span>
						  <p class="mb-0 ml-2 text-muted font-weight-semibold">Relative Grade Chart</p>
						</div>
						<div class="d-flex align-items-center">
						  <span class="dot-indicator bg-info ml-2"></span>
						  <p class="mb-0 ml-2 text-muted font-weight-semibold">Grade Frequency</p>
						</div>
					
					  </div>
					  <canvas id="myChart" style="width:100%;max-width:600px"></canvas>
					</div>
				  </div>
				</div>
			  </div>
           
           
          </div>
          <!-- content-wrapper ends -->
          <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  ...
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  <button type="button" class="btn btn-primary">Save changes</button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- main-panel ends -->
      </div>
        </div>
        <!-- main-panel ends -->
      </div>
    
    <!-- container-scroller -->
    <!-- plugins:js -->
    <script src="vendors/js/vendor.bundle.base.js"></script>
    <!-- endinject -->
    <!-- Plugin js for this page -->
    <script src="./vendors/chart.js/Chart.min.js"></script>
    <script src="./vendors/moment/moment.min.js"></script>
    <script src="./vendors/daterangepicker/daterangepicker.js"></script>
    <script src="./vendors/chartist/chartist.min.js"></script>
    <!-- End plugin js for this page -->
    <!-- inject:js -->
    <script src="js/off-canvas.js"></script>
    <script src="js/misc.js"></script>
    <!-- endinject -->
    <!-- Custom js for this page -->
    <script src="./js/dashboard.js"></script>
    <!-- End custom js for this page -->
    <!-- jquery JS-->
    <script src="vendor/jquery-3.2.1.min.js"></script>
    <script src="/js/main.js"></script>
 
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/js/bootstrap-datepicker.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/css/bootstrap-datepicker.css" rel="stylesheet"/>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

  
    <script>
      $(document).ready(function(){
        
        $("#datepicker").datepicker({
    format: "yyyy",
    viewMode: "years", 
    minViewMode: "years"
});
        $.ajax({
          type: "GET",
          url: "/getdept",
       
          success(response) {
            $("#myDropdown").empty();
            $("#myDropdown").append(`<input type="text" placeholder="Search.." id="myInput" onkeyup="filterFunction()">`)
            var i=0;
            $.each(response, function (key, value) { 
                i=i+1;    
                $("#depts").text(i)       
                                  
                                                $("#myDropdown").append(` 
                           
                            <div role="separator" class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#"  ><span id="course"  >${value["dept"]}</span></a>`);
                            $("#setcourse").val(value["dept"])
                    
                                              });
                                           
                                              $("#department").text(`Department of ${$("#setcourse").val()} ${$("#datepicker").val()} Session`) 
                                              getstud(); 
                            
          },
      }); 
      function getstud(offset=0){
        $("#datepicker").val("2006")
        $.ajax({
          type: "POST",
          url: "/filterdata",
          data:{dept:$("#setcourse").val(),session:$("#datepicker").val(),offset:offset},
          success(response) {

    var c=1;
   var i=0;
   $("#tbody").empty()
   $("#pages").empty();
       $("#pages").append(  ` <li class="page-item"><a  class="page-link"><i class="icon-arrow-left"></i></a></li>`)
   $.each(response, function (key, value) { 
     i=i+1;
     $("#studs").text(i)    
         if(i%4==0){
           if(c>0){
           $("#pages").append(  `<li class="page-item " id="currentpage" ><a href="# id="page" class="page-link">${c}</a></li>`)
           c=c+1;
         
           }
         }                   
   
         $("#tbody").append(`<tr> <td>
                                       <div id="uuid" hidden>${value["id"]}</div>
                                         <input id="stud_name" class="form-control" value="${value["stud_name"]}" type="text" name="username" placeholder="Level">  
                                      </td> <td>
                                       
                                       <input id="reg_no" class="form-control" value="${value["reg_no"]}" type="text" name="username" placeholder="Level">  
                                   
                                    </td> <td>
                                      
                                       <input id="level" class="form-control" value="${value["level"]}" type="text" name="username" placeholder=">Current Academic Level">  
                                     
                                    </td><td><button id="save" type="button" class="btn btn-success">Save Changes</button>
                                      <button type="button" id="delete"class="btn btn-inverse-dark btn-icon">
                                        <i class="icon-trash"></i></button></td> </tr>`);
                     });
                     $("#pages").append(  ` <li class="page-item"><a  class="page-link"><i class="icon-arrow-right"></i></a></li>`)
 }
      }); 
      }
        
  getstud()     
  var val=""
    $.ajax({
          type: "POST",
          url: "/gradechart",
       data:{stud:$("#name").text().trim()},
          success(response) {
var x=0;
var B=0;
var A=0;
var C=0;
var D=0;
var E=0;
            $.each(response, function (key, value) {
x=x+1;
if(value["grade"]=="B"){
B=B+1;
}
if(value["grade"]=="A"){
A=A+1;
}
if(value["grade"]=="C"){
C=C+1;
}
if(value["grade"]=="D"){
D=D+1;
}
if(value["grade"]=="E"){
E=E+1;
}
             })
          $("#A").text(A/x* 100);   
          $("#B").text(B/x* 100);  
          $("#C").text(C/x* 100);   
          $("#D").text(D/x* 100);  
          $("#E").text(E/x * 100);
          let xValues = ["A", "B", "C", "D", "E"];
          let xValue = ["Sucess", "Failure"];
        const yValues = [parseInt($("#A").text()), parseInt($("#B").text()), $("#C").text(), $("#D").text(), $("#E").text()];
        const yValue = [100-parseInt($("#E").text()), $("#E").text()];
    const barColors = ["red", "green","blue","orange","brown"];
    const barColor = ["green", "red"];
    new Chart("myChart", {
		  type: "bar",
		  data: {
			labels: xValues,
			datasets: [{
			  backgroundColor: barColors,
			  data: yValues
			}]
		  },
		  options: {
			legend: {display: false},
			title: {
			  display: true,
			  text: ""
			}
		  }
        });
        new Chart("myCharts", {
		  type: "pie",
		  data: {
			labels: xValue,
			datasets: [{
			  backgroundColor: barColor,
			  data: yValue
			}]
		  },
		  options: {
			legend: {display: false},
			title: {
			  display: true,
			  text: ""
			}
		  }
		});
          },
      });
 
      })
  </script>
  </body>
</html>